*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #efefef;
}
.box {
    width: 300px;
    height: 300px;
    background: 
    left 20px bottom / 50% 50%
    white 
    url(https://images.unsplash.com/photo-1501426026826-31c667bdf23d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODA5M30)
    no-repeat;
}
.item {
    color: rgb(60, 219, 193);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 45px;
    border: solid 1px rgb(60, 219, 193);
    border-radius: 6px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease .3s;
}
.item:hover{
    background: rgb(60, 219, 193);
    color: #fff;
    transform: scale(1.2);
}
