* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    height: 100%;
    background: yellow;
} */
body {
    background: blue;
    height: 100vh;
}
.box {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    background:lightblue;
}
.content {
    /* height: 80vh; */
    flex-grow: 1;
    background: lightpink;
}
.left {
    height: 100%;
    width: 100px;
    background: blanchedalmond;
}
.right {
    height: 100%;
    width: 100px;
    background: grey;
    /* margin-top: auto; */
    /* align-self: flex-end; */
}